.box_body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 90%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);

}

.install{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  min-width: 400px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
}
