.box_body{
  top: 0;
  left: 0;
  transform: translate(0,0);
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0;
  min-height: 300px;
}

.install{
  top: 0;
  left: 0;
  transform: translate(0,0);
  width: 100%;
  height: 100%;
}

/* 下载div外层 */
.download_list .download{
  height: 80px;
  margin-top: 10px;
}

/* 文件名 */
.download_list .download .name{
  top: 30%;
  left: 20px;
  transform: translateY(-50%);
}

/* 文件大小显示 */
.download_list .download .size{
  top: 70%;
  left: 20px;
  transform: translateY(-70%);
}

.copyright{
  white-space: nowrap;  /*只允许文字一行显示*/
}

/* 点击设置按钮的时候打开的窗口 */
.setup_form_box{
  top: 0;
  left: 0;
  transform: translate(0,0);
  box-shadow: none;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0px;
}

/* Video Player */
.videoplayer{
  left: 10%;
  width: 80%;
}
