html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #dcdde1;
  font-family: sans-serif;
}

.box_body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 90%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);

  overflow: none;
  background: #fff;
}
/* .box_body{
  overflow: none;
  background: #fff;
  position: absolute;
  min-height: 300px;
} */


/* title font */
.font1{
  font-weight: bold;
  font-size: 20px;
}

/* btn font */
.font2{
  font-family: sans-serif;
}

/* input font */
.font3{
  font-size: 17px;
}

/* copyright */
.font4{
  color: #aaa69d;
}



.inside_box{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  min-width: 300px;
  min-height: 300px;
  height: 100%;
}

/* LOGO 标题 */
.logo{
  margin-top: 50px;              /*上方外边距 空50px的距离*/
  height: 40px;
  text-align: center;
  border-bottom: 3px solid #000;   /*字体下方的黑色粗线*/
}

.download_box{
  position: relative;
  margin-top: 50px;              /*上方外边距 空50px的距离*/
  width: 100%;
  height: 40px;
  display: flex;
}

/* 输入框 */
.download_box .download_input{
  position: absolute;
  right: 80px;
  width: calc(100% - 80px);
  border-bottom: 2px solid #44bd32;
}
.download_box .download_input input[type="text"]{
  width: 100%;
  height: 35px;
  outline: none;
  border: 0;
  background-color: transparent;
}

.download_box .download_btn{
  position: absolute;
  right: 0;
}

.download_box .download_btn button{
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.download_box .download_btn button:active{
  box-shadow: 0 0 5px rgba(0,0,0,.8) inset;
}

.download_list{
  position: relative;
  top: 10px;
  width: 100%;
  height: calc(100% - 90px - 90px - 10px - 40px);
  /* background: red; */
  overflow-x: none;      /*溢出隐藏*/
  overflow-y:auto;
}


.download_list .download{
  position: relative;
  height: 60px;
  background: #26de81;
  margin-top: 15px;
}

/* 进度条 */
.download_list .download .downloadbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #45aaf2;
  transition: width .5s;
}

/* 文件名 */
.download_list .download .name{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
}

/* 文件大小显示 */
.download_list .download .size{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-weight: bold;
}

/* 三个按钮的外层div */
.download .control_btn{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  height: 100%;
  display: flex;
}

/* 三个按钮的div */
.download .control_btn div{
  position: relative;
  margin: auto 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d1d8e0;
}

/* 按钮div的鼠标悬浮样式 */
.download .control_btn div:hover{
  background-color: #f7b731;
}

.download .control_btn div svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.copyright{
  position: absolute;
  bottom: 10px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.install{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  min-width: 400px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  background: white;
  z-index: 10;
}

.install_curl,
.setpath,
.setpasswd,
.login{
  text-align: center;
}

.install_curl ._curl{
  background: #487eb0;
  height: 50px;
}

.install_curl ._curl span{
  line-height: 50px;
}

.install button{
  z-index: 20;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* 按钮被禁用时的样式 */
.install button[disabled]{
  background: #dcdde1;
}

.install button:active{
  box-shadow: 0 0 5px rgba(0,0,0,.8) inset;
}



.setpath .inputpath,
.setpasswd .inputpasswd,
.login .inputpasswd{
  width: 80%;
  height: 40px;
  margin: 20px auto;
  border-bottom: 2px solid #9c88ff;
}

.setpath .inputpath input,
.setpasswd .inputpasswd input,
.login .inputpasswd input{
  width: 100%;
  height: 30px;
  border: none;
  line-height: 20px;
  outline: none;
  font-size: 18px;
  background: transparent;
}



/* 设置按钮 及页面 */
.setup{
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.setup .setup_btn{
  position: absolute;
  right: 40px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s;
}

.setup .setup_btn svg{
  width: 100%;
  height: 100%;
}

.setup .setup_btn:hover{
  transform: rotate(360deg);
}
